<table>
  <tr>
    <td>
      <%= form_for @article do |f| %>
      <%= f.text_area :body %>
      <br>
      <%= f.submit %>
      <% end %>
    </td>

    <td>
      <div class="markdown-preview">
      </div>
    </td>
  </tr>
</table>
